In [18]:
## Logical Operators

a=100
b=0
print(a and b)
print(a or b)
print(not a)

##Bitwise Operators

print(a|b)
print(a&b)
print(a^b)
print(~b)
print(a<<b)
print(a>>b)

0
100
False
100
0
100
-1
100
100

In [16]:
a=0
b=110
print(a and b)
print(a or b)
print(not a)
print(a|b)
print(a&b)
print(a^b)
print(~b)
print(a<<b)
print(a>>b)

0
110
True
110
0
110
-111
0
0

In [28]:
## Membership operators

a = [1,2,3,4]
b = [1,2,3,4]
c = [4,5,6,7]
d = [3,2,1,4]
e = a
sub_a = a[1:3]

print(a is b)
print(a is not b)
print(id(a))
print(id(b))
print(id(e))
print(id(sub_a))
print(a == b)
print(sub_a)
print(sub_a is a)
print(a is c)
print(a is d)
print(b is c)
print(b is d)
print(c is d)
print(a is e)
print(e is a)

print(a in b)
print(a in d)
print(sub_a in a)
print(a in e)
## a and b values are same but these are not same elements. a and e are having same address.

False
True
4347459856
4347460176
4347459856
4347675104
True
[2, 3]
False
False
False
False
False
False
True
True
False
False
False
False

In [34]:
name = 'Arul'
name_list = ['Prisci','Ezra','Titus']
name_list_1 = ['Arul','Benjamin','Chandru']

if name in name_list:
    print('name is in name_list')
elif name in name_list_1:
    print('name is in name_list_1')
else:
    print(False)

name is in name_list_1

In [48]:
## Loops

inp_num = int(input('Enter the number of times to print : '))
i=0
while i < inp_num:
    print('Printing i {}' .format(i))
    i+=1

names = ['Arul','Benjamin','Chandru']
for j in range(len(names)):
    print(names[j])
    
for name in names:
    print(name)

Enter the number of times to print : 5
Printing i 0
Printing i 1
Printing i 2
Printing i 3
Printing i 4
Arul
Benjamin
Chandru
Arul
Benjamin
Chandru

In [51]:
#range(stop)
print(list(range(10)))
#range(start,stop,step)
print(list(range(1,10,2)))
#range(start,stop)
print(list(range(5,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[5, 6, 7, 8, 9]

In [56]:
## factorial logic using for loop

num_inp = int(input('Enter a number to find factorial : '))
fact=1
for num in range(1,num_inp+1):
    fact = fact*num
    print('fact value is {}'.format(fact))

print('Factorial is {}'.format(fact))

Enter a number to find factorial : 7
fact value is 1
fact value is 2
fact value is 6
fact value is 24
fact value is 120
fact value is 720
fact value is 5040
Factorial is 5040

In [65]:
## multiplication tables using nested for loop

inp_1 = int(input('Enter the number of tables you want to print : '))
print('******** Multiplication Tables **********')
for num in range(1,inp_1+1):
    print("Table : {}".format(num))
    print('***************')
    for num2 in range(1,11):
        num3 = num * num2
        print('{} * {} = {}'.format(num2,num,num3))
    print('******************')

Enter the number of tables you want to print : 5
******** Multiplication Tables **********
Table : 1
***************
1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10
******************
Table : 2
***************
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
******************
Table : 3
***************
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30
******************
Table : 4
***************
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40
******************
Table : 5
***************
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
******************

In [72]:
## Loop controls - continue, pass, break

for j in range(3,7):
    print(j)
    if(j==5):
        continue
    print('continue was found in range')

for k in range(3,7):
    print(k)
    if(k==5):
        pass
    print('pass was found in range')

for l in range(3,7):
    print(l)
    if(l==5):
        break
    print('break was found in range')

3
continue was found in range
4
continue was found in range
5
6
continue was found in range
3
pass was found in range
4
pass was found in range
5
pass was found in range
6
pass was found in range
3
break was found in range
4
break was found in range
5

In [74]:
import sys
print(sys.argv)

['/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py', '-f', '/Users/arulbenjamin/Library/Jupyter/runtime/kernel-4e8e4c70-6de0-4a16-ba45-831f6a84e44a.json']

In [78]:
## file concepts

import os

newfile = open('Test_class2.txt','w+')
## This file does not available in system. so giving access mode as w+
str1 = 'File operation testing'
## write file
newfile.write(str1)
newfile.close()

## read file
newfile1 = open('Test_class2.txt','r')
print(newfile1.read())
newfile1.close()

File operation testing

In [88]:
## sequences

## sequence concatenation
item1 = [1,2,3,4,5,'a','s','d','f']
item2 = [6,7,8,9,0,'z','x','c','v']
print(item1)
print(item2)
print(item1 + item2)
## sequence repitition
print(item1*3)
## sequence membership testing
print(1 in item1)
## slicing
print(item2[2])
## indexing
print(item1[1:4])

[1, 2, 3, 4, 5, 'a', 's', 'd', 'f']
[6, 7, 8, 9, 0, 'z', 'x', 'c', 'v']
[1, 2, 3, 4, 5, 'a', 's', 'd', 'f', 6, 7, 8, 9, 0, 'z', 'x', 'c', 'v']
[1, 2, 3, 4, 5, 'a', 's', 'd', 'f', 1, 2, 3, 4, 5, 'a', 's', 'd', 'f', 1, 2, 3, 4, 5, 'a', 's', 'd', 'f']
True
8
[2, 3, 4]

In [97]:
item1 = [1,2,3,4,5,'a','s','d','f']
item2 = item1*2
## prints every 5th element in list using step parameter
print(item2[::5]) 
## prints last 2 values
print(item2[-2:])
## prints everything except last 2 values
print(item2[:-2])
print(item2)
## prints reverse of the list
print(item2[::-1])

[1, 'a', 2, 's']
['d', 'f']
[1, 2, 3, 4, 5, 'a', 's', 'd', 'f', 1, 2, 3, 4, 5, 'a', 's']
[1, 2, 3, 4, 5, 'a', 's', 'd', 'f', 1, 2, 3, 4, 5, 'a', 's', 'd', 'f']
['f', 'd', 's', 'a', 5, 4, 3, 2, 1, 'f', 'd', 's', 'a', 5, 4, 3, 2, 1]